html{
    background: url(../extras/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: red;
    font-style: italic;
    #background-color: lightcyan;
}
.menuBtn {
    position:fixed;
    color: black;
    top:0;
    z-index: 9999;
    left:0;
    display:inline;
}

.container {
    position: relative;
    top: 5px;
    left: 0px;
    text-align: center;
}

/*header style and coloring*/
.container .Header {
    padding: 0.1em 0.1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../extras/graduation-caps.jpg");
    visibility:visible;
    z-index: 99999;
    color: #f3231c;
}
/*footer style and colouring*/
.container .Footer {
    bottom: 0;
    left: 0;
    top:100rem;
    width: 100%;
    color: black;
    background-color: cyan;
    z-index: 999999;
    padding: 0.1em 0.5em;
    scrollbar-darkshadow-color: aqua;
    position: fixed;
}

/*section between the header and footer*/
.container .register {
    /*min-height: 50%;*/
    padding: 7em 3em;
    position: relative;
    width: 90%;
    color: black;
}

.container .logIn {
    /*padding: 5em;*/
    position: fixed;
    color: black;
    top: 15em;
    width: 90%;
    padding: 0em 3em;
}

.container .session {
    margin: 15em;
    z-index: 999999;
    position: fixed;
}

.button {
    background-color: #4CAF40; /* Green */
    border: 2px solid green;
    margin: auto 2em auto;
    color: white;
    padding: 5px 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    float: left;
}


.container .register h3, .container .logIn h3 {
    font-family: 'Bookshelf Symbol 7';
    text-decoration: underline;
    font-size: x-large;
}

/* To Navigation Style */

.codrops-top {
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
}

.codrops-top a {
    padding: 0 1em;
    letter-spacing: 0.1em;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255,255,255,0.95);
    color: #777;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

/* Demo Buttons Style */
.codrops-demos {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 0.9em;
}

.codrops-demos > a {
    display: inline-block;
    color: #0c4e07;
    text-decoration: none;
    margin: 0.2em;
    padding: 0.5em 2em;
    border: 2px solid green;
    border-radius: 2px 60px;
    font-weight: 700;
    background: #41ab6b;
}

.codrops-demos > a:hover,.button:hover  {
    color: red;
    border: 2px solid red;
    border-radius: 60px 2px;
    background: #eea303;
    transition: background 0.9s, color 0.9s;
}

#set-1 {
    background: #41ab6b;
}

#set-2 {
    background: #eea303;
}

#set-4 {
    background: #0e83cd;
}

#set-6 {
    background: #64bb5d;
}

#set-8 {
    background: #3851bc;
}